
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 100%;
    max-width: 800px;
    height: 800px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid black;
     display: grid; /*make parent grid container  by default it is block*/
     grid-template-columns: 1fr 1fr 1fr ; /*it will create 3 columns of 100px each*/;
     grid-template-rows: 1fr 1fr    /*it will create 3 rows of 100px each*/;
      /*it will create gap between the grid items*/

}
.child1{
    display: flex;
    justify-content: space-between;

    grid-column: 1/3;
    grid-row: 1/2;
   
    
}
.child1 p{
    /* size increase */
    font-size: 1.5rem;
    background-color: rgb(30, 30, 30);
    color: white;

}
.child2{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: peachpuff;
}
.child2 h1{
    font-size: 3rem;
    text-align: center;
    color: brown;
}
.child2 p{
    text-align: center;
    color: black;
    font-size: 1.3rem;
}
.child2 a{
    display: block;
    text-align: center;
    color: white;
    background-color: brown;
    width: 100px;
    margin: 20px auto;
    padding: 5px 0;

    text-decoration: none;
}
.child3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.child4{
    grid-column: 2/4;
    grid-row: 2/3;
}
.child4 p{
    background-color: rgb(193, 219, 155);
    height: 50%;

}

.child5{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: rgb(232, 127, 140);
}
.child5 img{
    border-radius: 100%;
    position: relative;
    top:50px;
    align-items: center;
}
.child5 p{
    position: relative;
    top: 40px;
    display: flex;
    padding: 50px;
    width: 70px;
    text-align: center;
    font-size: 1.3rem;

}
.child5 button{
    position: relative;
 
    border-radius: 30%;
    align-items: center;
    left: 70px;
    border: none;
    background-color: rgb(6, 11, 148);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.child7{
    grid-column: 2/4;
    grid-row: 3/4;

}
@media screen and (max-width:600px) {
    /* stack view */
    .parent{
        grid-template-columns: 1fr; /*it will create 1 column of 100% each*/;
        grid-template-rows: auto /*it will create 7 rows of 100px each*/;
    }
    .parent > div{
        grid-column: auto;
        grid-row: auto;

    }
    
}
