
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 100%;
    height: 600px;
  max-width: 900px;
    margin: auto;
        margin-top: 100px;
    border: 0px solid wheat;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr ;
    gap: 20px;
    text-wrap: wrap;
}
.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: green;
    border-radius: 2%;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px 0px rgba(82, 78, 78, 0.75);
}
.child1 h2{
    position: relative;
    top: 20px;
    color:red;
}
.child1 h3{
    position: relative;
    top: 20px;
    color: skyblue;
}
.child1 p{
    position: relative;
    top: 20px;
    color: whitesmoke;
}

.first{
display: flex;

}
.first img{
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 100%;
}
.first h2{
    display: flex;
    margin-left: 20px;
}
.child2{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: burlywood;
     border-radius: 2%;
    margin-left: 10px;
    margin-top: 10px;
 box-shadow: 5px 5px 10px 0px skyblue;

}
.second{
    display: flex;
}
.second img{
    border-radius: 100%;
}
.second h2{
    position: relative;
    top: 10px;
}
.child3{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: yellowgreen;
    margin-bottom: 10px;
    border-radius: 2%;
    margin-right: 10px;
    margin-top: 10px;
     box-shadow: 5px 5px 10px 0px black;

}
.third{
    display: flex;
}
.third img{
    border-radius: 100%;
}
.third h2{
    position: relative;
    top: 10px;
    left: 10px;
}
.child3 h3{
    position: relative;
    top: 20px;
}
.child3 p{
    position: relative;
    top: 50px;
}
.child4{
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 2%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
  box-shadow: 5px 5px 10px 0px rgba(82, 78, 78, 0.75);

}
.four{
    display: flex;
}
.four img{
    border-radius: 100%;
}
.four h2{
    position: relative;
    top: 10px;
    left: 10px;
}

.child5{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: rgb(31, 29, 29);
    border-radius: 2%;
    margin-left: 10px;
    margin-bottom: 10px;
 box-shadow: 5px 5px 10px 0px rgba(82, 78, 78, 0.75);

}
.fifth{
    display: flex;
}
.fifth img{
    border-radius: 100%;
}
.fifth h2{
    position: relative;
    top: 10px;
    left: 10px;
    color: white;
}
.child5 h3{
    position: relative;
 top: 20px;
    color: white;
    bottom: 40px;
}
.child5 p{
    position: relative;
    top: 50px;
    color: white;
}
@media screen and (max-width:600px) {
    /* stack view */
    .parent{
        grid-template-columns: 1fr; /*it will create 1 column of 100% each*/;
        grid-template-rows: auto /*it will create 7 rows of 100px each*/;
    }
    .parent > div{
        grid-column: auto;
        grid-row: auto;

    }
    
}
