*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parent{
    width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid grey;
    /*make parent grid container */
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     /*grid-template-rows*/
     grid-template-rows: 1fr 1fr 1fr;
     gap: 10px;
}
.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: lightskyblue;
    font-size: 20px;
}
.child2{
    grid-column:3/5 ;
    grid-row:1/2 ;
    background-color: blueviolet;
    font-size: 20px;
    text-align: center;
}
.child3{
    grid-column:1/2 ;
    grid-row:2/3 ;
    background-color: chocolate;
    font-size: 20px;
    text-align: center;
}
.child4{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: greenyellow;
    font-size: 20px;
    text-align: center;
}
.child5{
    grid-column: 4/5;
    grid-row: 2/5;
    background-color: deeppink;
    font-size: 20px;
    text-align: center;
}
.child6{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color:purple;
    font-size: 20px;
    text-align: center;
}
.child7{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: orange;
    font-size: 20px;
    text-align: center;
}
/* Tablet screens */
@media screen and (max-width: 800px) {
  .parent {
    width: 95%;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-template-rows: auto;
  }

  .child1,
  .child2,
  .child3,
  .child4,
  .child5,
  .child6,
  .child7 {
    grid-column: auto;
    grid-row: auto;
  }
}

/* Mobile screens */
@media screen and (max-width: 500px) {
  .parent {
    grid-template-columns: 1fr; /* single column */
  }
}