
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;;
    background-color:black
    
}
nav ul{
    width: 400px;
    list-style: none;
    display: flex;
  justify-content:space-evenly ;
  align-items: center;
}
nav ul a{
    text-decoration: none;
    font-size: 1.5rem;
    color: blanchedalmond;
}
nav ul a:hover{
    color: orange
}
.logo{
    width: 60px;
    border-radius: 100%;
    padding: 10px;

}
main{

    margin: 0 40px ;
}
.card{
    /* flex-shrink: 0;
    flex-grow: 0;
    flex-basis: ; inital width of each child */
    flex: 0 0 250px;
    width: 300px;
    padding: 50px;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px 1px rgb(77, 73, 73);
}
.card img{
    width:100%;
    border-radius: 100%;
}
.row.card{
    width: 300px;
}
.row{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}
.card button{
    border: none;
    background-color: rgb(6, 11, 148);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
footer ul{
    
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 40px;
}
footer ul a{
    text-decoration: none;
    color: blanchedalmond;
   
}
@media screen and (max-width:700px) {
    .row{
        flex-wrap: wrap;
        flex:0 0 45%; 
    }
nav{
    flex-direction: column;
    align-items: center;
}
nav ul{
    flex-direction: column;
}
footer{
    flex-direction: column;
    align-items: center;
}
footer ul{
    flex-direction: column;
    align-items: center;
}
    

}
